<%- contentFor('body') %>
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Clientes</h5>
              <a href="/clientes-visualizacao" class="btn btn-primary">Visualização</a>
              <a href="/clientes-insercao" class="btn btn-primary">Inserção</a>
              <a href="/clientes-delete" class="btn btn-primary">Remoção</a>
              <a href="/clientes-update" class="btn btn-primary">Atualização</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Compras</h5>
              <a href="/compras-visualizacao" class="btn btn-primary">Visualização</a>
              <a href="#" class="btn btn-primary">Inserção</a>
            </div>
          </div>
        </div>
      </div>