<%- contentFor('body') %>
        <form action="/clientes-delete" method="POST">   
          <label for="Fax" class="form-label">Informe ID:</label>     
          <div class="input-group">
            <input type="text" name="id" class="form-control">
            <button type="submit" class="btn btn-outline-primary">Delete</button>
          </div>                         
        </form>