<%- contentFor('body') %>
        <div class="modal" id="modal" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" name="modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <% if(typeof msg !== 'undefined') { %>
                  <p><%= msg %></p>
                <% } %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary back" data-bs-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>


